// Fonts
@import "~simplemde/dist/simplemde.min.css";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

// Bootstrap
@import "boostrap";

@import "thread";
@import "header";

html {
  word-wrap: break-word;
}

body {
  font-family: "Varela Round", sans-serif;
}

@if $env == development {
  body:after {
    color: #000;
    font-size: 12px;
    padding: 5px;
    font-weight: bold;
    right: 10px;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    bottom: 10px;
    width: 200px;
    z-index: 9999;
    background: #c0c0c0;
    border: solid 1px #000;

    @each $name, $value in $grid-breakpoints {
      @include media-breakpoint-up($name) {
        content: "#{$name} - min-width: #{$value}";
      }
    }
  }
}

a {
  transition: all 0.1s ease-in;
}

.author-avatar {
  width: 55px;
  height: 55px;
  background-size: contain;
  display: block;
  background-image: url(../images/no-avatar.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.editor-toolbar,
.editor-toolbar.fullscreen {
  //background: #0c1523;
  border-color: #ddd;
  opacity: 1;

  a {
    color: $body-color !important;
  }
}

.editor-toolbar.fullscreen::before,
.editor-toolbar.fullscreen::after {
  content: none;
}

.editor-toolbar:hover,
.editor-wrapper input.title:focus,
.editor-wrapper input.title:hover {
  opacity: 1;
}

.editor-toolbar a.active,
.editor-toolbar a:hover {
  background: transparent;
  border-color: #ddd;
}

.editor-toolbar i.separator {
  border-color: #b7cedd !important;
}

.editor-toolbar.disabled-for-preview a:not(.no-disable) {
  // background: #253447;
}

.editor-preview,
.editor-preview-side {
  border-color: #ddd;
}

@media (max-width: 992px) {
  .container {
    max-width: 100%;
  }
}

p {
  margin-top: 4px;
  margin-bottom: 10px;
  line-height: 1.5em;
}

p:last-child {
  margin-bottom: 0;
}

hr.dashed {
  margin-bottom: 1em;
  margin-top: 1em;
  border-top: 1px dashed rgba(0, 0, 0, 0.1);
}

.footer {
  background: #131313;

  p {
    color: #bdbdbd;
  }
}

.post-content {
  font-family: "Open Sans", sans-serif;
  color: #3c3c3c;
  line-height: 1.5;

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
}

@include media-breakpoint-down(md) {
  .breadcrumb-scroll {
    max-width: 100%;
    overflow: hidden;
    height: 2.8rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    position: relative;

    &::before,
    &::after {
      content: " ";
      position: absolute;
      top: 0;
      height: 100%;
      width: 1.6rem;
    }

    &::after {
      right: 0;
      background: linear-gradient(to right, transparent, white);
    }

    &::before {
      left: 0;
      background: linear-gradient(to left, transparent, white);
    }

    .breadcrumb {
      border-radius: 0.25rem !important;
      display: flex;
      flex-direction: row !important;
      padding-bottom: 2rem;
      overflow-x: auto;
      white-space: nowrap;
      flex-wrap: nowrap;
      -webkit-overflow-scrolling: touch;

      .breadcrumb-item:last-child {
        padding-right: 1rem;
      }
    }
  }
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  &.rounded-pull {
    background-position: 100% calc(0.375em + 0.1875rem);
  }
}
