header {
    background: #042b4a;
    padding: 0.5em;
    background-image: url(../images/header-background.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

.navbar-hyze {
    .nav-link {
        font-size: 1.2rem;
        padding: 8px 12px;
    }

    .navbar-brand span {
        background: url(../images/logo.png) no-repeat 0 0;
        display: block;
        width: 250px;
        height: 105px;
        background-size: contain;
    }
}